html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.navbar{
  background-color: rgb(192, 55, 255);
  padding: 1rem 2rem;
  text-align: right;
  color: white;
}
.form{
  margin-top: 3rem;
}

input{
  padding: 0.3rem 1rem;
  font-size: 1.2rem;
}

label{
  font-size: 1.3rem;
}